<div class="homepage-container">

	<div class="homepage-tagline">
		<h1>Welcome to Lawyerly!</h1>
		<h2>Find interesting content, connect with other lawyers and build your personal brand...</h2>
	</div>

	<%= render "/sessions/new" %>

	<%= render "/users/newuser", :user => User.new %> 

</div>