/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

html, body, #container { height: 100%; }
body > #container { height: 100%; height: auto !important; min-height: 100%; position: relative;}

.text-container {
 	position: absolute;
	padding-top: 60px;
	background-color: #F6F6F6;
	width: 100%;
	height: auto;
}

.users-list-container {
	float: right;
	width: 250px;
	height: auto;
	background-color: white;
	color: #333;
	border-radius: 5px;
	box-shadow: 1px 1px 1px #E6E6E6;
	padding: 30px 60px;
	font-family: Georgia,'Times New Roman', serif;
	font-size: 20px;
	font-weight: 200;
	h4 {
		font-size: 26px;
		padding-bottom: 20px;
	}
}

.flashes {
	width: 400px;	
	font-size: 12px;
	margin: auto;
	line-height: 16px;
}

.navbar-inner {
	color: #BBB;
	text-shadow: rgba(0, 0, 0, 0.498039) 0px 1px 1px;
}

.nav-right {
	position: absolute;
	right: 20px;
	line-height: 40px;
	font-size: 14px;
	text-decoration: none;
	margin-right: 15px;	
}

.sign-out {
	padding-left: 10px;
	&:hover {
		text-decoration: none;
		color: white;
	}
}

#footer {
	position:absolute;
	bottom:0;
	width:100%;
	height:60px;   /* Height of the footer */
	background:#6cf;
}

.profile_picture {
	border-radius: 5px;
}